.Nav-bg-color {
    background: #fff !important;
}

.nav-item {
    color: #424242;
    font-weight: 500;
    font-size: 1.1rem;
}
 
.navbar-nav li {
    margin-left: 30px;
}

.menu-text.menu-selected {
    color: #387ed1;
}